$color-background: var(--color-background);
$color-soft: var(--color-soft);
$color-brown: var(--color-brown);

.basic {
    margin-top: 50px;
    min-height: 600px;

    &__content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        &__text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 60px;
                font-weight: 700;
                text-align: center;
                color: $color-brown;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: black;
                text-align: justify;
            }
        }

        &_img {
            width: 800px;
            height: auto;
        }
    }
}